{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
	<h2>Results of the session {{ session }}</h2>
	Students completed: {{ session.num_students_completed }} / {{ session.num_students }}
  <br/>
  <a href="{% url 'results_print' session.id %}"><button type="button" id="printableVersion" class="btn btn-primary btn-lg printable-version"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Printable version</button></a>
      </div>
    </div>


<div class="container">
  <div id="charts">
  </div>
</div>
{% endblock %}


{% block scripts %}
    <style>
      .results {
         text-align: center;
      }
      #charts div {
         display: block;
         margin: 0 auto !important;
      }
      table.google-visualization-table-table {
         margin: 0 auto;
      }
      .google-visualization-table-table td, .google-visualization-table-table th {
         font-size: 15pt;
         padding: 10px;
         width: 100px;
      }
      .google-visualization-table-tr-head .gradient {
         background-image: none !important;
         text-align: center !important;
      }
      h3 {
         text-align: center;
         font-weight: bold;
         font-size: 15pt;
      }
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      var print_mode = false;

      {% if print %}
      print_mode = true;
      {% endif %}

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart','table']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(onLoad);

      function drawPlot(data, title, type, variable){
        var charts = document.getElementById('charts');
        var newChart = document.createElement('div');
        charts.appendChild(newChart);

        var chart;
        var dataTable;

        if (type == "barplot"){
          dataTable = new google.visualization.DataTable();
          if (typeof data[0][0] == "string")
            dataTable.addColumn('string', 'Mode');
          else
            dataTable.addColumn('number', 'Time');
          dataTable.addColumn('number', variable);
          dataTable.addRows(data);

          chartD = drawBarPlot(newChart, data, title, variable);
        }
        if (type == "scatter"){
          dataTable = google.visualization.arrayToDataTable(data);

          chartD = drawScatterPlot(newChart, data, title);
        }
        if (type == "line"){
          dataTable = google.visualization.arrayToDataTable(data, false);

          chartD = drawLinePlot(newChart, data, title);
        }
        if (type == "table"){
          var h3 = document.createElement('h3');
          h3.innerHTML = title;
          charts.insertBefore(h3, newChart);

          dataTable = google.visualization.arrayToDataTable(data, false);

          chartD = drawTablePlot(newChart, data, title);
        }

        var chart = chartD[0];
        var options = chartD[1];

        // if print then smaller graphs and output in png
        if (print_mode == true){
          options['height'] = 450;
          google.visualization.events.addListener(chart, 'ready', function () {
            newChart.innerHTML = '<img src="' + chart.getImageURI() + '">';
          });
        }
      
        chart.draw(dataTable, options);

      }
      
      function drawScatterPlot(newChart, data, title) {
        var options = {
          'title': title,
          'width':600,
          'height':500,
          'legend': 'none'
        };

        var chart = new google.visualization.ScatterChart(newChart);
        return [chart, options];
      }

      function drawLinePlot(newChart, data, title) {
        var header = data[0];
        var legend = 'none';
        if (header.length > 2)
            legend = 'right';

        var options = {
          'title': title,
          'width':600,
          'height':500,
          'legend': legend,
          'hAxis': {
             'format': '0'
          },
          'vAxis': {
             'minValue': 0
          }
        };

        var chart = new google.visualization.LineChart(newChart);
        return [chart, options];
      }

      function drawTablePlot(newChart, data, title) {
        var header = data[0];
        var legend = 'none';
        if (header.length > 2)
            legend = 'right';

        var options = {
          'title': title,
          'legend': legend,
          'alternatingRowStyle': false,
          'hAxis': {
             'format': '0'
          },
          'vAxis': {
             'minValue': 0
          }
        };

        var chart = new google.visualization.Table(newChart);
        return [chart, options];
      }

      function drawBarPlot(newChart, data, title, variable) {
        // Set chart options
        var options = {'title':title,
                       'width':600,
                       'height':500,
                       'hAxis': {'minValue': 0},
                       'vAxis': {'minValue': 0},
                       'titleTextStyle': {fontSize: 20}};

        var chart = new google.visualization.BarChart(newChart);
        return [chart, options];
      }

      {% autoescape off %}
      function onLoad() {
        {% for res in results %}
        drawPlot({{ res.data }}, "{{ res.title }}", "{{ res.type }}", "{{ res.var }}");
        {% endfor %}
      }
      {% endautoescape %}
    </script>
          
    <script src="{% static 'js/printToPDF.js' %}"></script>


{% endblock scripts %}
