{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
	<h2>Results of the session {{ session }}</h2>
	Students completed: {{ session.num_students_completed }} / {{ session.num_students }}
      </div>
    </div>


<div class="container">
  <div id="charts">
  </div>
</div>
{% endblock %}


{% block scripts %}
    <style>
      .results {
         text-align: center;
      }
      #charts div {
         display: block;
         margin: 0 auto !important;
      }
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(onLoad);

      function drawPlot(data, title, type, variable){
        if (type == "barplot")
          drawBarPlot(data, title, variable);
        if (type == "scatter")
          drawScatterPlot(data, title);
        if (type == "line")
          drawLinePlot(data, title);
      }
      
      function drawScatterPlot(data, title) {
        var dataTable = google.visualization.arrayToDataTable(data);

        var options = {
          'title': title,
          'width':600,
          'height':500,
          'legend': 'none'
        };

        // Instantiate and draw our chart, passing in some options.
        var charts = document.getElementById('charts');
        var newChart = document.createElement('div');
        var content = document.createTextNode('test');
        newChart.appendChild(content);
        charts.appendChild(newChart);

        var chart = new google.visualization.ScatterChart(newChart);
        chart.draw(dataTable, options);
      }

      function drawLinePlot(data, title) {
        var dataTable = google.visualization.arrayToDataTable(data, false);

        var header = data[0];
        var legend = 'none';
        if (header.length > 2)
            legend = 'right';

        var options = {
          'title': title,
          'width':600,
          'height':500,
          'legend': legend,
          'hAxis': {
             'format': '0'
          }
        };

        // Instantiate and draw our chart, passing in some options.
        var charts = document.getElementById('charts');
        var newChart = document.createElement('div');
        var content = document.createTextNode('test');
        newChart.appendChild(content);
        charts.appendChild(newChart);

        var chart = new google.visualization.LineChart(newChart);
        chart.draw(dataTable, options);
      }

      function drawBarPlot(data, title, variable) {
        // Create the data table.
        var dataTable = new google.visualization.DataTable();
        if (typeof data[0][0] == "string")
          dataTable.addColumn('string', 'Mode');
        else
          dataTable.addColumn('number', 'Time');
        dataTable.addColumn('number', variable);
        dataTable.addRows(data);

        // Set chart options
        var options = {'title':title,
                       'width':600,
                       'height':500,
                       'hAxis': {'minValue': 0},
                       'titleTextStyle': {fontSize: 20}};

        // Instantiate and draw our chart, passing in some options.
        var charts = document.getElementById('charts');
        var newChart = document.createElement('div');
        var content = document.createTextNode('test');
        newChart.appendChild(content);

        charts.appendChild(newChart);

        var chart = new google.visualization.BarChart(newChart);
        chart.draw(dataTable, options);
      }

      {% autoescape off %}
      function onLoad() {
        {% for res in results %}
        drawPlot({{ res.data }}, "{{ res.title }}", "{{ res.type }}", "{{ res.var }}");
        {% endfor %}
      }
      {% endautoescape %}
    </script>

{% endblock scripts %}
