<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Random shape generator</title>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script>

// normalises given set of points to [-1,1] bounds
// on both dimensions
function normalise_figure(figure)
{
  var maxX = 1;
  var maxY = 1;
  var minX = -1;
  var minY = -1;

  for (var i = 0; i < figure.length; i++){
    if (figure[i].x < minX)
      minX = figure[i].x;
    if (figure[i].x > maxX)
      maxX = figure[i].x;
    if (figure[i].y < minY)
      minY = figure[i].y;
    if (figure[i].y > maxY)
      maxY = figure[i].y;
  }
  minY = Math.abs(minY)
  minX = Math.abs(minX)

  for (var i = 0; i < figure.length; i++){
    if (figure[i].x > 0)
      figure[i].x /= maxX; 
    if (figure[i].y > 0)
      figure[i].y /= maxY; 

    if (figure[i].x < 0)
      figure[i].x /= minX; 
    if (figure[i].y < 0)
      figure[i].y /= minY; 
  }
  return figure;
}

// generate figure as a list of tuples (vertices)
// complexity -> real number from 0-1
function generate_figure(complexity)
{
  var figure = []
  if (complexity < 0){
    complextiy = 0;
  }
  if (complexity > 1){
    complextiy = 1;
  }
  var sides = Math.floor(complexity * 20);
  if (sides < 3)
    sides = 3;

  var points = []

  for (var i = 0; i < sides; i++){
    points.push(Math.random())
  } 
  points.sort()
  console.log(sides)

  for (var i = 0; i < sides; i++){
    var p = {}
    p.x = Math.cos(points[i]*2*Math.PI) + (Math.random() - 0.5) * complexity / 2.0
    p.y = Math.sin(points[i]*2*Math.PI) + (Math.random() - 0.5) * complexity / 2.0
    figure.push(p)
  } 
  return normalise_figure(figure)
}

// symmetry
// with a mistake complexity given by 
function mirror_figure(figure, exact, difficulty)
{
  var ret = []
  for (var i = 0; i < figure.length; i++){
    var v = {}
    v.x = -figure[i].x
    v.y = figure[i].y
    ret.push(v)
  }
  if (exact)
    return ret

  var angle = 0; (1.1 - difficulty) * 0.1 * Math.PI;

  for (var i = 0; i < figure.length; i++){
    var x = ret[i].x * Math.cos(angle) - ret[i].y * Math.sin(angle)
    var y = ret[i].x * Math.sin(angle) + ret[i].y * Math.cos(angle)
    ret[i].x = x
    ret[i].y = y
  }

  var p = Math.floor(Math.random() * figure.length); 

  var v = Math.random()
  var d = (1.1 - difficulty)
  if (d > 0.3) d = 0.3
  ret[p].x += (v) * d * 2
  ret[p].y += (1 - v) * d * 2
  console.log(p)
  return normalise_figure(ret)
}

// draws a given set of pointsr
function draw_figure(canvas, figure)
{
  var c2 = canvas.getContext('2d');
  c2.fillStyle = '#33CCFF';
  c2.beginPath();
  c2.lineWidth = 3;

  var xoffset = canvas.width/2;
  var yoffset = canvas.height/2;
  c2.translate(xoffset,yoffset);


  var scale = {}
  scale.x = canvas.width/2 * 0.9
  scale.y = canvas.height/2 * 0.9

  var n = figure.length;
  c2.moveTo(figure[n-1].x*scale.x, figure[n-1].y*scale.y);

  for (var i = 0; i < n; i++){
    c2.lineTo(figure[i].x*scale.x, figure[i].y*scale.y);
  }
  c2.closePath();
  c2.fill();
  c2.stroke();
}
</script>
</head>
<body>
<canvas id="canvas_left" width="200" height="500">OOPS.. Upgrade your Browser</canvas>
<canvas id="canvas_right" width="200" height="500">OOPS.. Upgrade your Browser</canvas>
<script>
var canvas_left = $("#canvas_left")[0];
var canvas_right = $("#canvas_right")[0];

var f = generate_figure(0);
draw_figure(canvas_left, f);
draw_figure(canvas_right, mirror_figure(f, false, 1));
</script>
</body>
</html>
