{% extends "base.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Start a new session</h2>
		<form class="form-signin" action="/teacher/" method="post">
		    {% csrf_token %}
		    {{ form }}
		    <input type="submit"  class="btn btn-lg btn-primary" value="Start session" />
		</form>
      </div>
    </div>

    <div class="container">


    	<div class="row">

			<h2>Existing sessions</h2>
			
			<div class="table-responsive">
				<table class="table table-striped">
				<tr>
				<th>Session name</th><th>Experiment</th><th>Course</th><th>Time</th><th># students</th><th>Actions</th>
				{% for session in sessions %}
					<tr>
					<td>{{ session }}</td>
					<td>{{ session.experiment }}</td>
					<td>{{ session.course }}</td>
					<td>{{ session.time }}</td>
					<td>{{ session.num_students_completed }} / {{ session.num_students }}</td>
					<td><a href="{% url "results" session.id %}">See results</a> |
<a href="{% url "export" session.id %}">Export data</a> |
					{% if session.closed %}
						<a href="{% url "session_management" "open" session.id %}">Open</a>
					{% else %}
						<a href="{% url "session_management" "close" session.id %}">Close</a>
					{% endif %}
					</td>
					</tr>
				{% endfor %}
				</tr>
				</table>

			</div>
		</div>

		<div class="row">
			<h2>Admin</h2>
			<a href="{% url "logout"%}">Logout</a>			
		</div>

	</div>

{% endblock %}
